<nav class="navbar">
    <h1 class="h1">NEXT INVEST</h1>
    <div><ul>     
           <li><a href="#">Invest Opportunities</a></li>
        <li><a href="#">How it works</a></li>
        <li><a href="#">About us</a></li>
      <button class="login"><a routerLink="/login">LOGIN</a></button>
       <button class="register"><a routerLink="register" style="color: pink;">REGISTER</a></button>
    
    </ul>
</div>
</nav>
<div class="showcase">
  <h1>Meaningful investments in MainStreet businesses</h1>
  <button class="getstarted"><a routerLink="/dashboard">GET STARTED</a></button>
</div>
<router-outlet></router-outlet>